<!DOCTYPE html>
<html>
  <head>
    <title>ShopingCart</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script>
      /**
       * If browser back button was used, flush cache
       * This ensures that user will always see an accurate, up-to-date view based on their state
       * https://stackoverflow.com/questions/8788802/prevent-safari-loading-from-cache-when-back-button-is-clicked
       */
      (function () {
        window.onpageshow = function(event) {
          if (event.persisted) {
            document.getElementsByTagName("body")[0].style.display = "none";
            window.location.reload();
          }
        };
      })();
    </script>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body calss="bg-light">
    <%= yield %>
  </body>
</html>
